@charset "UTF-8";

body{
  width: 1366px;
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std', sans-serif;
  color: #192F60;
}

/* ハンバーガーメニュー */
.nav{
  width: 260px;
  display: block;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.open nav{
  left: 0;
  opacity: 1;
}

.inner{
  padding: 25px;
}

nav .inner ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a{
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover{
  background-color: #2E4182;
  font-weight: bold;
  font-size: 16px;
}

.toggle__btn{
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle__btn span{
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s ;
  background-origin: 4px;
}

.open .toggle__btn span{
  background-color: #fff;

}

.open .toggle__btn span:nth-child(1){
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle__btn span:nth-child(2){
  opacity: 0;
}

.open .toggle__btn span:nth-child(3){
  transform: translateY(-10px) rotate(315deg);
}

.toggle__btn span:nth-child(1){
  top: 4px;
}

.toggle__btn span:nth-child(2){
  top: 14px;
}
.toggle__btn span:nth-child(3){
  bottom: 4px;
}

#mask{
  display: none;
  transition: all 0.5s;
}

.open #mask{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  cursor: pointer;
}



/* ベースとなるスタイル */
.header {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://kiteretsu18.github.io/trial/fv-img01.png);
  background-size: 100% , auto;
  background-repeat: no-repeat;
  color: #192F60;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
}

/* ヘッダートップのスタイル */
.header__top {
  display: flex;
  background-color: #FFFFFF;
  max-height: 80px;
  max-width: 1366px;
  align-items: center;
}

/* ロゴのスタイル */
.header__logo {
    max-width: 124px;
    max-height: 48px;
    margin-left: 16px;
}

.header__logo--img{
    margin-top: 12px;
}


/* ナビゲーションのスタイル */
.header__nav {
    margin-left: auto;
    
}

.nav__list {
    display: flex;
}

.nav__item {
    text-align: center;
    margin-right: 30px;
    max-width: 25%;
}

.nav__link {
    color: #0C162C;
    font-size: 13px; 
    transition: color 0.3s;

}

.nav__list p{
    color: #192F60;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    letter-spacing: 2px;
}

.nav__link:hover {
    color: #ffcc00; /* ホバー時の色変更 */
}

/* 連絡先情報のスタイル */
.header__contact {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
    letter-spacing: 4px;
}

.contact__phone {
    display: flex;
    margin-right: 15px; /* 電話番号と問い合わせボタンの間隔 */
    font-size: 16px;
}

.phone__icon{
    margin-top: 6px;
    max-width: 16px;
    max-height: 16px;
    object-fit: contain;
}

.phone__icon--txt{
    padding-left: 8px;
    font-size: 24px;
    text-align: center;
}

.phone__icon--txt p{
    margin-top: 4px;
    font-size: 16px;
    font-weight: normal;
}

.contact__inquiry {
    background-color: #707070;
    max-width: 128px;
    height: 80px;
    margin-left: auto;
    padding: 0 16px;

}

.contact__inquiry:hover {
  background-color: #f1c40f; 
}


.contact__inquiry--btn{
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.contact__inquiry--img{
    max-width: 30px;
    max-height: 24px;
    object-fit: contain;
}

.contact__inquiry p{
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}


.header__main {
  font-weight: bold;
  max-width: 100%;
}

/* アニメーション */
@keyframes slideRight {
  from {
      opacity: 0;
      transform: translateX(-100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.header__main {
  animation: slideRight 3s ease-out forwards;
}


.main__title {
  font-size: 60px; 
  font-weight: bold;
  letter-spacing: 13px;
  background-color: #FFFFFF;
  max-width: max-content;
  max-height: max-content;
  margin-top: 193px;
  margin-left: 129px;
  padding: 13px 16px;
}
.main__title2 {
  font-size: 60px; 
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #FFFFFF;
  max-width: max-content;
  max-height: max-content;
  margin-top: 8px;
  margin-left: 129px;
  padding: 13px 16px;
}

.main__subtitle{
  display: flex;
  background-color: #FFFFFF;
  max-width: max-content;
  max-height: 44px;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 13px;
  margin-top: 24px;
  margin-left: 129px;
}

.header__info{
  display: flex;
  margin-top: 84px;
  margin-left: 113px;

}

.contact__number{
  display: flex;
  width: 240px;
  max-height: 56px;
  background-color: #192F60;
  color: #FFFFFF;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  letter-spacing: 2px;
}

.contact__number--img{
  max-width: 16px;  
  max-height: 16px;
  margin-right: 8px;
  margin-bottom: 24px;
}

.contact__number p{
  font-size: 16px;
  padding-top: 4px;
}

.contact__btn{
  display: flex;
  width: 240px;
  height: 56px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  background-color: #20868A;
  margin-left: 80px;
  font-size: 20px;
  font-weight: bold;
  padding: 16px , 16px;
}

.contact__btn--link :hover{
  background-color: #f1c40f;
  padding: 16px , 16px;

}

.contact__btn--right{
  width: 5px;
  height: 10px;
  margin-left: 16px;
}

.news__section{
  max-width: 1253px;
  max-height: max-content;
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 113px;
}

.news__header{
  display: flex;
  max-width: 100%;
  height: max-content;
}

.news__header--ttl{
  display: flex;
  font-size: 22px;
  font-weight: bold;
  padding-left: 40px;
  align-items: center;

}

.news__header--ttl::after {
  content: ''; 
  display: block;  
  height: 1em; 
  width: 2px; 
  background-color: #192F60;
  margin-left: 15px;
}

.news__time{
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
  margin-right: 32px;
  font-size: 16px;
  color: #2D2D2D;
}

.news__txt{
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 16px;
  color: #2D2D2D;
}

/* メインコンテンツのスタイル */

.main__container{
  margin-top: 40px;
}

/* コンセプト */

.main__concept{
  max-width: 1138.8px;
  background-image: url(https://kiteretsu18.github.io/trial/CONCEPT.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.concept__header{
  max-width: 1138.8px;

}

.concept__kv{
  display: flex;
  width: 100%;
}

.concept__kv--img{
  max-width: 475px;
  max-height: 315px;
  margin-top: 120px;
  margin-left: 160px;
}

.concept__ttl{
  max-width: 460px;
  max-height: 120px;
  margin-left: 15px;
  margin-top: 203px;
}

.concept__ttl--txt{
  display: flex;
  max-width: 100%;
  height: 54px;
  font-size: 28px;
  font-weight: bold;
  background-color: #192F60;
  color: #FFFFFF;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  padding-left: 10px;
}

/* アニメーション */

.concept__ttl--txt{
  opacity: 0;
  transform: translateX(150px);
  transition: opacity 3s, transform 3s;
}

.concept__ttl--txt.visible {
  opacity: 1;
  transform: translateX(0);
}
/* アニメーション */



.concept__ttl--txt:nth-of-type(2){
  margin-top: 12px;
  width: 306px;
  margin-left: auto;
  max-width: 100%;
}

.concept__ttl p{
  max-width: 432px;
  height: 80px;
  margin-top: 32px;
  margin-left: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.concept__ttl span{
  font-size: 60px;
}

.concept__txt{
  max-width: 950px;
  font-size: 14px;
  margin-top: 40px;
  margin-left: auto;
  color: #333;
  line-height: 32px;
}

/* アニメーション */

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.concept__txt{
  opacity: 0;
  transform: translateY(30px);
}
/* アニメーション */

.info__btn{
  display: flex;
  width: 245px;
  height: 40px;
  margin: 40px auto;
  border: 1px solid #192F60 ;
}

.info__btn:hover{
  background-color: #192F60;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.btn__txt{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 75px;
}

.info__btn--right{
  max-width: 5px;
  max-height: 10px;  
  margin-left: 15px;
  margin-right: 75px;
  margin-top: 13px;
}

/* コンセプトテキスト */

.concept__list{
  margin-top: 80px;
  background-image: url(https://kiteretsu18.github.io/trial/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 522px;
  display: flex;

}

.concept__header--ttl{
  max-width: 240px;
  max-height: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 121px;
}

.concept__lsit--header{
  display: flex;
  max-width: 296px;
  max-height: 54px;
  background-color: #192F60;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 113px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  }

.concept__list--txt{
  font-size: 14px;
  max-width: 372px;
  max-height: 40px;
  margin-top: 40px;
  margin-left: 113px;
}

.concept__list--item{
  width: 650px;
  height: 126px;
  display: flex;
  margin-top: 40px;
  margin-left: 187px;
}

/* アニメーション */

.list__item--flex{
  opacity: 0;
  transform: translateX(150px);
  transition: opacity 3s, transform 3s;
}

.list__item--flex.visible {
  opacity: 1;
  transform: translateX(0);
}
/* アニメーション */

.concept__flex .concept__list--item:nth-of-type(2) {
  margin-left: 83px;   
}

.concept__flex .concept__list--item:nth-of-type(3) {
  margin-left: 0; 
}


.concept__list--item span{
  font-size: 100px;
  font-weight: bold;
  color: #EFF1F4;
  opacity: 0.5;
}

.list__item--flex{
  margin-left: 18px;
}

.list__item--ttl{
  font-size: 24px;
  font-weight: bold;
  margin-top: 14px;
}

.list__item--txt{
  font-size: 14px;
  line-height: 28px;
}

/* サービス */
.service{
  max-width: 1140;
  max-height: 703px;
  background-image: url(https://kiteretsu18.github.io/trial/SERVICE.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 113px;
  margin-top: 80px;
  margin-left: 113px;
}

.service__header{
  margin-top: 80px;
}

.service__ttl{
  max-width: 443px;
  max-height: 54px;
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #192F60;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  padding: 5px 5px;
}

.service__txt{
  font-size: 14px;
  max-width: 950px;
  max-height: 40px;
  margin-top: 40px;
  line-height: 30px;
}

.service__list{
  margin-top: 40px;
  max-width: 936px;
  max-height: 449px;
  display: flex;
  margin-left: 95px;
}

.service__item{
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ 1.png);
  background-repeat: no-repeat;
  background-size: 308px 205px;
  max-width: 320px;
}

.service__list .service__item:nth-of-type(2) {
  margin-left: 13px;
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ -1.png);
}

.service__list .service__item:nth-of-type(3) {
  margin-left: 13px;
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ -2.png);
}

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.service__list{
  opacity: 0;
  transform: translateY(30px);
}

.service__item--ttl{
  background-color: #FFFFFF;
  max-width: 250px;
  max-height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 156px;
  margin-left: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.service__list .service__item:nth-of-type(2) .service__item--ttl {
  max-width: 166px;
}

.service__list .service__item:nth-of-type(3) .service__item--ttl {
  max-width: 171px;
}


.img__txt{
  font-size: 11px;
  margin-top: 2px;
}

.service__img--txt{
  font-size: 14px;
  max-width: 276px;
  max-height: 92px;
  margin-top: 25px;
  line-height: 25px;
}

/* ワーク */
.work{
  width: 1366px;
  margin-top: 80px;
}

.work__header{
  max-width: 1200px;
  background-image: url(https://kiteretsu18.github.io/trial/WORKS.png);
  background-repeat: no-repeat;
  background-position: left top;
  margin-left: auto;
}

.work__ttl{
  max-width: max-content;
  max-height: 54px;
  background-color: #192F60;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  padding: 5px 5px;
}

.work__header--txt{
  max-width: 950px;
  font-size: 14px;
  margin-top: 40px;
  margin-left: auto;
}

/* スライダー */
.container {
  margin: 30px auto 0;
  max-width: 500px;
  width: 100%;
}
/* 中央以外のスライド */
.slick__img img {
  height: auto;
  opacity: .3;
  transform: scale(.8);
  transition: opacity .5s, transform .5s;
  width: 100%;
}
/* 中央のスライド */
.slider .slick-center img {
  opacity: 1;
  transform: scale(1);
}


.work__info--ttl{
  font-size: 20px;
  font-weight: bold;
  margin-left: 365px;
}

.work__info--txt{
  font-size: 14px;
  line-height: 25px;
  margin-top: 32px;
  margin-left: 365px;
}

/* アニメーション */

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.work__info--txt{
  opacity: 0;
  transform: translateY(30px);
}
/* アニメーション */



.info__btn--work{
  display: flex;
  width: 245px;
  height: 40px;
  margin: 40px auto;
  border: 1px solid #707070 ;
  background-color: #AEB6C7;
  color: #FFFFFF;
}

.info__link :hover{
  background-color: #FFFFFF;
  color: #192F60;
}

.btn__txt--work{
  font-size: 14px;
  display: flex;
  max-width: 245px;
  max-height: 40px;
  margin-left: auto;
  margin-top: 12px;
}

.work__btn--right{
  max-width: 5px;
  max-height: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

/* ブログ */
.blog{
  background-image: url(https://kiteretsu18.github.io/trial/blog_bg.png);
  max-width: 1366px;
  max-height: 515px;
  background-repeat: no-repeat;
  margin-top: 80px;

}

.blog__img{
  background-image: url(https://kiteretsu18.github.io/trial/BLOG.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 80px;
}

.blog__bg{
  max-width: 950px;
  max-height: 408px;
  background-color: #FFFFFF;
  margin-left: 204px;
}

.blog__info{
  display: flex;
}

/* アニメーション */

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.blog__info{
  opacity: 0;
  transform: translateY(30px);
}
/* アニメーション */


.blog__time{
  font-size: 16px;
  margin-left: 150px;
  margin-top: 25px;
}

.blog__txt{
  font-size: 16px;
  margin-left: 32px;
  text-decoration: underline;
  margin-top: 25px;
}

.blog__bg .blog__info:nth-child(n+2) {
  margin-top: 75px;
}

/* フッター */

.footer{
  margin-top: 80px;
  max-width: 1366px;
  max-height: 316px;
  background-image: url(https://kiteretsu18.github.io/trial/contact01.png);
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}


.footer__txt{
  color: #FFFFFF;
  max-width: 1366px;
  max-height: 60px;
  font-size: 24px;
  line-height: 2.5rem;
  font-weight: bold;
}

.footer__contact{
  max-width: 1366px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer__cotact--img{
  max-width: 1366px;
  max-height: 221px;
  background-color: #192F60;
  color: #FFFFFF;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.footer__logo{
  height: 48px;
}

.footer__logo img{
  max-width: 124px;
  max-height: 29px;
}

.footer__logo--txt{
  font-size: 16px;
  margin-top: 24px;
}

.footer__copy{
  margin-top: 40px;
  font-size: 11px;
}


/* レスポンシブ */
@media (max-width: 1200px){
  .header__logo{
    display: block;
  }

  .service__img--txt{
    margin-bottom: 100px;
  }

  .concept__ttl--txt.visible{
    height: 80px;
  }

  .concept__lsit--header{
    margin-top: 30px;
  }
}


@media (max-width: 760px) {
  /* ベースとなるスタイル */
.header {
  margin: 0 16px;
  max-width: 375px;
  max-height: max-content;
  background-image: url(https://kiteretsu18.github.io/trial/fv-img01.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #192F60;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
}

/* ヘッダートップのスタイル */
.header__top {
    background-color: #FFFFFF;
    display: block;
    align-items: center;
    max-height: 120px;
    margin-top: 0 auto;
}

/* ロゴのスタイル */
.header__logo {
    max-width: 68px;
    max-height: 26px;
    margin: 0 auto;
}

.header__logo--img{
  max-width: 55px;
}




/* ナビゲーションのスタイル */
.toggle__btn{
  display: block;

}


.header__nav {
    margin-left: 10px;
    width: 100px;
    margin-top: 12px;
    
}

.nav__list {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
}

.nav__item {
    text-align: center;
}

.nav__link {
    color: #0C162C;
    font-size: 14px; 
    transition: color 0.3s;

}

.nav__list p{
    color: #192F60;
    font-size: 8px;
    font-weight: bold;
    margin-top: 6px;
    letter-spacing: 2px;
}

.nav__link:hover {
    color: #ffcc00; /* ホバー時の色変更 */
}

/* 連絡先情報のスタイル */
.header__contact {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    
}

.contact__phone {
    display: flex; 
}

.phone__icon{
    max-width: 12px;
    max-height: 12px;
    object-fit: contain;
}

.phone__icon--txt{
    padding-left: 0;
    letter-spacing: 0.1rem;
    font-size: 12px;
    text-align: center;
}

.phone__icon--txt p{
    margin-top: 4px;
    font-size: 12px;
    font-weight: normal;
}

.contact__inquiry {
  background-color: #707070;
  width: 60px;
  height: 40px;
  max-width: 60px;
  max-height: 40px;
  margin: 0;
  position: absolute;
  top: 130px;
  left: 150px;

}

.contact__inquiry:hover {
background-color: #f1c40f; /* ホバー時の背景色変更 */
}


.contact__inquiry--btn{
height: 30px;
justify-content: center;
align-items: center;
display: flex;

}

.contact__inquiry--img{
  max-width: 15px;
  max-height: 12px;
  object-fit: contain;
}

.contact__inquiry p{
  font-size: 4px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}


.header__main {
  font-weight: bold;
}

.main__title {
  font-size: 24px; 
  font-weight: bold;
  letter-spacing: 0;
  background-color: #192F60;
  color: #FFFFFF;
  max-width: 450px;
  max-height: 43px;
  margin-top: 100px;
  margin-left: auto;
  padding: 6px 8px;
}
.main__title2 {
  font-size: 22px; 
  font-weight: bold;
  letter-spacing: 0;
  background-color: #192F60;
  color: #FFFFFF;
  max-width: 375px;
  max-height: 43px;
  margin-top: 15px;
  margin-left: auto;
  padding: 6px 8px;
}

.main__subtitle{
  background-color: #192F60;
  color: #FFFFFF;
  max-width: 200px;
  max-height: 22px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
  margin-left: auto;
}

.header__info{
  display: flex;
  margin-top: 20px;
  margin-left: 60px;

}

.contact__number{
  display: flex;
  max-width: 120px;
  max-height: 60px;
  background-color: #192F60;
  color: #FFFFFF;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
  font-size: 12px;
  justify-content: center;
  letter-spacing: 0;
}

.contact__number--img{
  max-width: 8px;  
  max-height: 8px;
  margin-top: 2px;
  margin-right: 4px;
}

.contact__number p{
  font-size: 8px;
  padding-top: 2px;
}

.contact__btn{
  display: flex;
  max-width: 120px;
  max-height: 60px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  background-color: #20868A;
  margin-left: 40px;
  font-size: 10px;
  font-weight: bold;
}

.contact__btn--right{
  max-width: 2.5px;
  max-height: 5px;
  margin-left: 8px;
  margin-top: 1px;  
}

.news__section{
  max-width: 626.5px;
  max-height: 40px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 16px;
}

.news__header{
  display: flex;
  margin-left: 16px;
}

.news__header--ttl{
  font-size: 11px;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 0px;
  position: relative; 
  padding-right: 10px;
}

.news__header--ttl::after {
  content: ''; /* 疑似要素の内容は空 */
  display: block; /* 疑似要素をブロックレベル要素として表示 */
  position: absolute; /* 親要素に対して絶対位置指定 */
  right: 0; /* 要素の右端に配置 */
  top: 28%; /* 上端から50%の位置に配置 */
  transform: translateY(-50%); /* 縦線の高さの半分を上に移動して中央に配置 */
  height: 1em; /* 縦線の高さをテキストのフォントサイズに合わせる */
  width: 2px; /* 縦線の幅 */
  background-color: #192F60; /* 縦線の色 */
}

.news__time{
  padding-left: 10px;
  width: 60px; 
  height: max-content;
  font-family: 'Neue Haas Grotesk Text Pro', Arial, sans-serif;
  margin-right: 10px;
  font-size: 8px;
  padding-top: 2px;
  color: #2D2D2D;
}

.news__txt{
  max-width: max-content;
  margin-right: 16px;
  font-size: 8px;
  padding-top: 2px;
  color: #2D2D2D;
}

/* メインコンテンツのスタイル */

.main__container{
  max-width: 375px;
  margin: 40px 16px;
}

/* コンセプト */

.main__concept{
  max-width: 375px;
  max-height: max-content;
  background-image: url(https://kiteretsu18.github.io/trial/CONCEPT.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.concept__kv{
  display: block;
  max-height: max-content;
}

.concept__kv--img{
  max-width: 287.5px;
  max-height: 157.5px;
  margin-top: 20px;
  margin-left: 50px;
}

.concept__ttl{
  max-width: 230px;
  max-height: 60px;
  margin-left: auto;
  margin-top: 24px;
}

.concept__ttl--txt{
  display: flex;
  max-width: 230px;
  max-height: 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: #192F60;
  color: #FFFFFF;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}

.concept__ttl--txt:nth-of-type(2){
  margin-top: 15px;
  max-width: 153px;
  line-height: 30px;
  margin-left: auto;
}

.concept__ttl p{
  max-width: 300px;
  max-height: 40px;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.concept__ttl span{
  font-size: 30px;
  margin-top: 0px;
}

.concept__txt{
  max-width: 475px;
  font-size: 7px;
  margin-top: 120px;
  margin-left: auto;
  color: #333;
  line-height: 1rem;
}

.info__btn{
  display: flex;
  max-width: 122.5px;
  max-height: 20px;
  margin: 60px auto;
  border: 1px solid #192F60 ;
}

.btn__txt{
  display: flex;
  align-items: center;
  font-size: 7px;
  margin-left: 37.5px;
}

.info__btn--right{
  max-width: 2.5px;
  max-height: 5px;  
  margin-left: 7.5px;
  margin-right: 37.5px;
  margin-top: 6.5px;
}


/* コンセプトテキスト */

.concept__list{
  width: 375px;
  margin-top: 40px 16px;
  background-image: url(https://kiteretsu18.github.io/trial/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  max-width: 100%;
  max-height: 320px;
  display: block;

}

.concept__flex{
  margin-left: 20px;
}

.concept__header--ttl{
  max-width: 150x;
  max-height: 10px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 0px;
}

.concept__lsit--header{
  display: block;
  width: 150px;
  max-height: 60px;
  background-color: #192F60;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
  }

.concept__list--txt{
  font-size: 7px;
  max-width: 186px;
  max-height: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

.concept__list--item{
  max-width: 325px;
  max-height: 63px;
  display: flex;
  margin-top: 10px;
  margin-left: 32px;
}

.concept__flex .concept__list--item:nth-of-type(2) {
  margin-left: 16px;   
}

.concept__flex .concept__list--item:nth-of-type(3) {
  margin-left: 0; 
}


.concept__list--item span{
  font-size: 50px;
  font-weight: bold;
  color: #EFF1F4;
  opacity: 0.5;
}

.list__item--flex{
  margin-left: 9px;
}

.list__item--ttl{
  font-size: 12px;
  font-weight: bold;
  margin-top: 7px;
}

.list__item--txt{
  font-size: 7px;
  line-height: 14px;
}

/* サービス */
.service{
  max-width: 375px;
  max-height: max-content;
  background-image: url(https://kiteretsu18.github.io/trial/SERVICE.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin: 40px 16px;
}

.service__header{
  margin-top: 40px;
}

.service__ttl{
  max-width: 221.5px;
  max-height: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #192F60;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
}

.service__txt{
  font-size: 7px;
  max-width: 475px;
  max-height: 20px;
  margin-top: 20px;
  line-height: 15px;
}

.service__list{
  margin: 40px 16px;
  max-width: 468px;
  max-height: max-content;
  display: flex;
  flex-wrap: wrap;
}

.service__item{
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ 1.png);
  background-repeat: no-repeat;
  background-size: 154px 102.5px;
  max-width: 160px;
}

.service__list .service__item:nth-of-type(2) {
  margin-left: 6.5px;
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ -1.png);
}

.service__list .service__item:nth-of-type(3) {
  margin-left: 6.5px;
  background-image: url(https://kiteretsu18.github.io/trial/マスクグループ\ -2.png);
}


.service__item--ttl{
  background-color: #FFFFFF;
  max-width: 125px;
  max-height: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
  margin-left: 7.5px;
  letter-spacing: 0;
  font-weight: bold;
}

.service__list .service__item:nth-of-type(2) .service__item--ttl {
  max-width: 83px;
}

.service__list .service__item:nth-of-type(3) .service__item--ttl {
  max-height: 85.5px;
}


.img__txt{
  font-size: 5.5px;
  margin-top: 15px;
}

.service__img--txt{
  font-size: 7px;
  max-width: 138px;
  max-height: 46px;
  margin-top: 12.5px;
  line-height: 12.5px;
}

/* ワーク */
.work{
  max-width: 375px;
  margin: 40px 16px; 
  background-image: url(https://kiteretsu18.github.io/trial/WORKS.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.work__header{
  max-width: 375px;

  margin-left: 6px;
}

.work__ttl{
  width: 221.5px;
  height: 27px;
  background-color: #192F60;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
}

.work__header--txt{
  max-width: 475px;
  font-size: 8px;
  margin-top: 20px;
  margin-left: auto;
}



.work__info--ttl{
  font-size: 10px;
  font-weight: bold;
  margin-left: 0px;
}

.work__info--txt{
  font-size: 7px;
  line-height: 1rem;
  margin-top: 16px;
  margin-left: 0px;
}

.info__btn--work{
  display: flex;
  font-size: 7px;
  width: 130px;
  max-height: 40px;
  margin: 20px auto;
  border: 1px solid #707070 ;
  background-color: #AEB6C7;
  color: #FFFFFF;

}

.btn__txt--work{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  margin: 0 auto;
  font-size: 8px;
}

.work__btn--right{
  max-width: 2.5px;
  max-height: 5px;  
  margin-top: 15px;
  margin-right: 6px;

}

/* ブログ */
.blog{
  background-image: url(https://kiteretsu18.github.io/trial/blog_bg.png);
  max-width: 375px;
  max-height: max-content;
  background-repeat: no-repeat;
  margin: 40px 16px;
  background-size: contain;
  background-position: right;

}

.blog__img{
  background-image: url(https://kiteretsu18.github.io/trial/BLOG.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  padding-top: 40px;
}

.blog__bg{
  max-width: 260px;
  max-height: max-content;
  background-color: #FFFFFF;
  margin-left: 0px;
}

.blog__info{
  display: flex;
}

.blog__time{
  font-size: 8px;
  margin-left: 0px;
  margin-top: 12.5px;
}

.blog__txt{
  font-size: 8px;
  margin-left: 16px;
  text-decoration: underline;
  margin-top: 12.5px;
}

.blog__bg .blog__info:nth-child(n+2) {
  margin-top: 37.5px;
}

/* フッター */

.footer{
  margin-top: 40px;
  max-width: 760px;
  max-height: 158px;
  background-image: url(https://kiteretsu18.github.io/trial/contact01.png);
  padding-top: 40px;
  text-align: center;
}

.footer__txt{
  text-align: center;
  color: #FFFFFF;
  max-width: 760px;
  max-height: max-content;
  font-size: 12px;
  line-height: 1.5rem;
  font-weight: bold;
}

.footer__contact{
  display: flex;
  margin-left: 0;
  margin-top: 25px;
  justify-content: center;
}

.footer__cotact--img{
  max-width: 760px;
  max-height: 110.5px;
  background-color: #192F60;
  color: #FFFFFF;
  padding-top: 20px;
  text-align: center;
}

.footer__logo{
  max-height: 24px;
}

.footer__logo img{
  max-width: 62px;
  max-height: 14.5px;
}

.footer__logo--txt{
  font-size: 8px;
  margin-top: 12px;
}

.footer__copy{
  margin-top: 20px;
  font-size: 5.5px;
}


}
